.main {
  padding: 1rem;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.main1 {
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;

  details {
    summary {
      font-weight: bold;
      cursor: pointer;
    }
    > div {
      margin-top: 1rem;
    }

    margin-bottom: 1rem;
  }
}

.application {
  background-color: #3b8d811c;
  padding: 1rem;

  > div:first-of-type {
    display: flex;
    gap: 1rem;

    p {
      font-weight: bold;
    }
    .data {
      color: #bcbcbcba;
    }
  }

  button {
    margin-top: 1rem;
    border: none;
    border: 1px solid #ffffffba;
    background-color: #ffffff1a;
    color: #ffffff;
    cursor: pointer;
  }
}
