main.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 1rem;

  p {
    margin-top: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin-top: 2rem;
  }
}
