---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact">
  <main>
    <h1>Contact</h1>

    <p>
      You can contact us via email at{" "}
      <a href="mailto:contact@dawdle.space"> contact@dawdle.space</a>.
      <br />
      <br />
       You can also reach us at <a href="mailto:abuse@dawdle.space">
        abuse@dawdle.space
      </a> for urgent abuse reports.
    </p>
  </main>
</Layout>

<style>
  h1 {
    margin-bottom: 1rem;
  }

  main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    margin: 0 auto;
    max-width: 40rem;
  }
</style>
