---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Imprint">
  <meta name="robots" content="noindex" slot="head" />
  <main>
    <h1>Tldr</h1>

    <p>
      You can contact us via email at{" "}
      <a href="mailto:contact@dawdle.space"> contact@dawdle.space</a> and reach us
      at
      <a href="mailto:abuse@dawdle.space">abuse@dawdle.space</a> for urgent abuse
      reports.
    </p>

    <h1>Imprint</h1>

    <p>
      In the future, I would love to turn this into a member-owned e.V. or
      something similar, but for now, it's just me. Like mentioned elsewhere,
      this site is fully non-profit and I'm not making any money with it.
    </p>

    <h3>Responsible for the content of this website</h3>
    <h4>(Not including user sites)</h4>
    <ul>
      <li>
        <strong>Henry Gressmann</strong>
      </li>
      <li>addr: Friedenstr. 54, 10249 Berlin, Germany</li>
      <li>
        email:
        <a href="mailto:henry@dawdle.space"> henry@dawdle.space</a>
      </li>
      <li>tel: +49 (0)30 47067645</li>
      <li>discord: @explodingcamera</li>
    </ul>

    <h3>User Sites</h3>
    <p>
      Members of the community can create their own sites at <i
        ><b>{"<user>"}.dawdle.space</b></i
      >. These sites are not affiliated with dawdle.space in any way and we are
      not responsible for their content. We do not endorse any of the content on
      these sites. <br /> If you have any questions, please contact the respective
      site owner directly. If you want to report a site's content, please contact
      us at <a href="mailto:contact@dawdle.space"> contact@dawdle.space</a>
    </p>

    <style>
      ul {
        list-style: none;
        padding-left: 1rem;
        li {
          margin-bottom: 0.5rem;
        }
      }

      h1 {
        margin-top: 2rem;
      }

      h3 {
        margin-top: 1rem;
      }

      p {
        margin-top: 1rem;
      }

      main {
        padding: 1rem;
        height: fit-content;
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        margin: 0 auto;
        max-width: 40rem;
      }
    </style>
  </main>
</Layout>
