---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Imprint">
  <main>
    <h1>Imprint</h1>

    <p>
      While (I think) I'm not technically required to have an imprint here, I
      think it's a good idea to have one. So here it is. If you have any
      questions, feel free to contact me. In the future, I would love to turn
      this into a member-owned e.V. or something similar, but for now, it's just
      me. Like mentioned elsewhere, this site is fully non-profit and I'm not
      making any money with it.
    </p>

    <h3>
      Responsible for the content of this website (not including subdomains)
    </h3>
    <ul>
      <li>
        <strong>Henry Gressmann</strong>
      </li>
      <li>
        Henry Gressmann, c/O Factory Works GmbH, Lohmühlenstraße 65, 12435
        Berlin, Germany
      </li>
      <li>
        email:
        <a href="mailto:mail@henrygressmann.de"> mail@henrygressmann.de</a>
      </li>
      <li>tel: +49 (0)30 47067645</li>
      <li>discord: @explodingcamera</li>
    </ul>

    <h3>User Sites</h3>
    <p>
      Members of the community can create their own sites. They are responsible
      for their own content. If you have any questions, please contact the
      respective site owner directly. If you want to report a site's content,
      please use our <a href="/contact">contact site</a>.
    </p>

    <style>
      ul {
        list-style: none;
        padding-left: 1rem;
        li {
          margin-bottom: 0.5rem;
        }
      }

      h1 {
        margin-top: 2rem;
      }

      h3 {
        margin-top: 1rem;
      }

      p {
        margin-top: 1rem;
      }

      main {
        padding: 1rem;
        height: fit-content;
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        margin: 0 auto;
        max-width: 40rem;
      }
    </style>
  </main>
</Layout>
