---
import Layout from "../layouts/Layout.astro";
---

<Layout title="dawdle.space">
  <main>
    <pre>
    |              ||
 ___| ___       ___||  ___     ___  ___  ___  ___  ___ 
|   ||   ||   /|   /| |___)   |___ |   ||   ||    |___
|___||__/||/\/ |__/ | |__   .  __/ |__/ |__/||___ |___
                                   |</pre>
    <p>
      <b>dawdle.space</b> is a community for sharing art, free software, and building fun websites.
    </p>
    <p>
      <br />
      <a href="/join">Join</a> to get you own space at <code>[username].dawdle.space</code> - a personal website
      for your art, blogs, games, writing, and more.
    </p>
    <p>
      <br /><!-- You can find some of the sites on dawdle.space <a href="/explore">here</a>. -->
      We also have a small <a href="/updates">update feed</a> if you want to see what's new.
    </p>
  </main>
</Layout>

<style>
  @keyframes breathe {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }

  main {
    padding: 3rem 1rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    margin: 0 auto;
    max-width: 40rem;

    pre {
      font-weight: 600;      line-height: 1.3;
      color: var(--accent);
      animation: breathe 2s infinite alternate;
      filter: drop-shadow(0px 0px 3px #04ffff);

      @media (max-width: 600px) {
        font-size: calc(2.2vw);
      }
    }

    code {
      background: var(--code-background);
      padding: 0.1rem 0.3rem;
      border-radius: 0.2rem;
    }

    p {
      margin-top: 0.5rem;
      line-height: 1.7;
      filter: drop-shadow(0 0 3px #04dcffa3);
    }

    ul {
      margin: 0;
      padding: 0;
      margin-top: 0.5rem;
      padding-left: 1.4rem;
    }
  }
</style>
