---
import Layout from "../layouts/Layout.astro";
---

<Layout title="dawdle.space">
  <main>
    <pre>
    |              ||
 ___| ___       ___||  ___      ___  ___  ___  ___  ___ 
|   ||   ||   /|   /| |___)    |___ |   ||   ||    |___
|___||__/||/\/ |__/ | |__   o   __/ |__/ |__/||___ |___
                                    |</pre>
    <p>
      Dawdle is a community in the spirit of <a
        href="https://github.com/cwmccabe/pubnixhist">pubnixes</a
      >, <i>non-commercial</i> servers that provide a space for anyone to use.
    </p>
    <p>
      <br />
      Every member gets their own small website at <code
        >[username].dawdle.space</code
      >, and (if they want) they can connect directly to our server (which is
      running Debian Linux).
    </p>
    <p>
      We try to keep things simple and friendly. You don't need to know anything
      about Linux or web development, just a creative spirit and a desire to
      create something fun. The code behind all of this all custom and <a
        href="https://github.com/dawdlestudios/www">open source</a
      > so if you can contribute to that, that's great too.
      <br />
      <br />
    </p>

    <h3>things we like</h3>
    <ul>
      <li>sharing art (music, games, writing, etc.)</li>
      <li><a href="https://github.com/dawdlestudios">free software</a></li>
      <li>fun websites</li>
    </ul>

    <p>
      <br />
      If you think you'd enjoy being part of our community, you can learn more about
      applying for membership <a href="/apply">here</a>. We also have a small
      update feed <a href="/updates">here</a> if you want to see what we're up to.
      <br />
      <br />
    </p>

    <br />
    <br />
    <h3>recent projects by members</h3>
    <p>
      >> <a href="https://lastfm-iceberg.dawdle.space"
        >last.fm iceberg chart generator</a
      > by <a href="https://henry.dawdle.space">~henry</a>
    </p>
  </main>

  <style>
    main {
      padding: 3rem 1rem;
      height: fit-content;
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: center;
      margin: 0 auto;
      max-width: 40rem;

      pre {
        font-weight: 500;
        line-height: 1.3;
        opacity: 0.59;

        @media (max-width: 600px) {
          font-size: calc(2.2vw);
        }
      }

      code {
        background: #015a6063;
        padding: 0.1rem 0.3rem;
        border-radius: 0.2rem;
      }

      p {
        margin-top: 0.5rem;
        line-height: 1.7;
      }

      ul {
        margin: 0;
        padding: 0;
        margin-top: 0.5rem;
        padding-left: 1.4rem;
      }
    }
  </style>
</Layout>
