---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Login">
  <main>
    <h1>
      Login
      <span data-login-error class="error"></span>
    </h1>
    <form id="loginform">
      <label for="username">Username</label>
      <input required type="text" name="username" id="username" />
      <label for="password">Password</label>
      <input required type="password" name="password" id="password" />
      <input type="submit" value="Login" />
    </form>
    <div class="ssh">
      <p>
        If you've added your SSH key to your account, you can also connect to
        your account using the <a href="/wiki/ssh"><kbd>ssh</kbd></a> command.
      </p>
      <pre><code>$ ssh username@dawdle.space</code></pre>
    </div>
  </main>
</Layout>

<script>
  const handleSubmit = (e: SubmitEvent) => {
    console.log("submit");
    e.preventDefault();
    e.stopPropagation();
    const formData = new FormData(e.target as HTMLFormElement);
    const payload = {
      username: formData.get("username"),
      password: formData.get("password"),
    };

    fetch("/api/login", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(payload),
    }).then((res) => {
      if (res.status === 200) {
        window.location.href = "/user";
      } else {
        const error = document.querySelector("[data-login-error]");
        error!.textContent = "Invalid username or password";
      }
    });

    e.preventDefault();
  };

  document.addEventListener("astro:page-load", () => {
    const form = document.getElementById("loginform");
    form?.addEventListener("submit", handleSubmit);
    console.log(form);
  });
</script>

<style>
  .ssh {
    margin-top: 2rem;
    h3 {
      margin-bottom: 1rem;
    }
    pre {
      background: #00000066;
      padding: 1rem;
      margin: 1rem 0;
    }
  }

  h1 {
    margin-bottom: 1rem;

    .error {
      color: red;
      font-size: 0.8rem;
    }
  }

  form {
    display: flex;
    flex-direction: column;
  }
  main {
    padding: 1rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    margin: 0 auto;
    max-width: 40rem;
  }
</style>
