---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Terms">
  <main>
    <h1>Rules</h1>
    <ul>
      <li>1 GiB of storage per user (soft limit)</li>
      <li>Don't abuse server resources</li>
      <li>
        No commercial use (your personal website is fine, but no business sites)
      </li>
      <li>No spamming of any kind</li>
      <li>No illegal content (in Germany) and piracy (including links)</li>
      <li>No NSFW content (including links)</li>
      <li>No Doxing</li>
      <li>No outward port-scanning</li>
      <li>Be kind and respectful to others</li>
      <li>Have fun and be creative!</li>
      <li>
        No forms of discrimination or support of violence against any group
      </li>
      <li>You must be at least 16 years old to use dawdle.space</li>
    </ul>

    <h1>Terms of Service</h1>

    <p>
      Dawdle.space is a small, private community without any commercial
      interests.
      <br />
       We provide creative people with a platform to share their creations with
      others. We do not claim ownership of any content uploaded to our servers.
      We reserve the right to deny any application for membership and to remove
      any content or account that violates our Terms of Service, or for any
      other reason we deem necessary.
    </p>

    <p></p>

    <p>
      Copyright infringement is not allowed on dawdle.space, and we will not
      allow any illegal content to be distributed. It's also expected that all
      users respect the copyrights of those who produce original content of any
      kind and only share if the author or license grants you permission.
      Content hosted on accounts used for external file storage must also follow
      copyright law. If you want to request for content you own the copyright
      for to be removed from dawdle.space, please refer to our <a
        href="/contact">contact page</a
      >. We will respond to all requests as soon as possible, and will remove
      any infringing content. We will also terminate the accounts of repeat
      offenders.
    </p>
  </main>
</Layout>

<style>
  ul {
    padding-left: 1rem;
    li {
      margin-bottom: 0.4rem;
    }
  }

  h1 {
    margin-top: 0.5rem;
  }

  p {
    margin-top: 0.7rem;
  }

  main {
    padding: 1rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    margin: 0 auto;
    max-width: 40rem;
  }
</style>
