---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="join dawdle.space">
  <main>
    <h3>Already a member? <a href="/login">Login</a></h3>
    <h2>Thanks for your interest in joining dawdle.space!</h2>
    <p>
      To sign up for an account, please fill out the form below. Although we
      don't require any personal information, we do ask that you provide a valid
      email address so that we can send you a confirmation if your account is
      approved and so that we can contact you if there are any issues with your
      site. We will never share your email address with anyone and will never
      send you automated emails.
    </p>
    <form id="joinform">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        required
        minlength="3"
        maxlength="20"
        placeholder="Your desired username"
      />
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        required
        placeholder="Your email address"
      />

      <label for="about">About yourself</label>
      <textarea
        name="about"
        id="about"
        cols="30"
        rows="10"
        placeholder="Tell us a little about yourself, why you want to join, how you found out about us, etc."
      ></textarea>

      <p>
        <br />
        While we try to keep light moderation, we do have a few rules so we can keep
        the site safe and fun for everyone.
        <br />
        <br />
      </p>
      <div></div>
      <label for="terms">
        <input type="checkbox" id="terms" name="terms" required />
        I have read and agree to the <a href="/terms">rules/terms</a>.
      </label>
      <input type="submit" value="Submit" />
    </form>
  </main>
</Layout>

<script>
  import { sendApplication } from "../../utils/api.ts";
  import { navigate } from "astro:transitions/client";

  const handleSubmit = async (e: Event) => {
    e.preventDefault();
    const form = e.target as HTMLFormElement;
    const formData = new FormData(form);
    const [username, email, about] = [
      formData.get("username"),
      formData.get("email"),
      formData.get("about"),
    ];

    if (!username || !email || !about) {
      (
        form.querySelector("input[type=submit]") as HTMLInputElement
      )?.setCustomValidity("Something went wrong. Please try again later.");
      return;
    }

    sendApplication({
      username: username as string,
      email: email as string,
      about: about as string,
    })
      .then(() => {
        form.reset();
        navigate("/join/success", { history: "replace" });
      })
      .catch(() => {
        (
          form.querySelector("input[type=submit]") as HTMLInputElement
        )?.setCustomValidity("Something went wrong. Please try again later.");
      });
  };

  document.addEventListener("astro:page-load", () => {
    const form = document.getElementById("joinform");
    form?.addEventListener("submit", handleSubmit);
  });
</script>

<style>
  form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  h3 {
    margin-bottom: 3rem;
  }

  h2 {
    margin-bottom: 1rem;
  }

  main {
    padding: 1rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    margin: 0 auto;
    max-width: 40rem;
  }
</style>
