---
import SettingsLayout from "../../layouts/SettingsLayout.astro";
import { FileBrowser } from "../../components/FileBrowser";
---

<SettingsLayout title="dawdle.space">
  <section class="files">
    <FileBrowser />
  </section>
</SettingsLayout>

<style>
  main {
    flex: 1;
    max-width: 800px;
    padding: 1rem;
  }

  .files {
    flex: 1;
    display: flex;

    h2 {
      padding: 1rem;
    }
  }
</style>
