---
import SettingsLayout from "../../layouts/SettingsLayout.astro";
import { FileBrowser } from "../../components/FileBrowser";
import "../../components/FileBrowser/styles.module.css";
---

<SettingsLayout title="dawdle.space">
  <section class="files">
    <FileBrowser client:load client:only />
  </section>
</SettingsLayout>

<style>
  .files {
    flex: 1;
    display: flex;

    h2 {
      padding: 1rem;
    }
  }
</style>
