---
import SettingsLayout from "../../layouts/SettingsLayout.astro";
---

<SettingsLayout title="dawdle.space">
  <section class="settings">
    <h2>User Settings</h2>
  </section>
</SettingsLayout>

<style>
  .settings {
    flex: 1;
    display: flex;

    h2 {
      padding: 1rem;
    }
  }
</style>
