---
import "./bg.css";
---

<div transition:persist id="asdf" class="bg"></div>

<script>
  // for some reason, css keyframes reset when the element is moved to the next page AaaAAAAA 🤬
  // so we have to do it in js (HOW IS THERE A DIFFERENCE BETWEEN CSS AND JS KEYFRAMES???)

  const bg = document.getElementById("asdf");
  const keyframes = [
    { backgroundPosition: "0 0" },
    { backgroundPosition: "-1920px 0" },
  ];
  const options = {
    duration: 60000,
    iterations: Infinity,
    easing: "linear",
  };

  bg!.animate(keyframes, options);
</script>

<style>
  .bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: #080f14;
    background-image: url("/bg.jpg");
    background-blend-mode: color-dodge;
  }
</style>
