---
import { Editor } from "../../../components/Editor";
import Layout from "../../../layouts/Layout.astro";

import "monaco-editor/min/vs/editor/editor.main.css";
import "./../../../components/Editor/editor.module.css";

// I can't figure out why this isn't included anymore after switching pages.
// It's no where to be found in the source of monaco or monaco react.
// but it gets included in the dom (but only on the first page load)
import "./../../../components/Editor/fallback.css";
---

<Layout title="dawdle.space - editor">
  <!-- <main id="dawdle-editor"></main> -->
  <main>
    <Editor client:load />
  </main>
</Layout>

<!-- <script>
  const goBack = (e: MessageEvent) => {
    if (e.data.type === "goBack") {
      history.back();
    }
  };

  document.addEventListener("astro:page-load", () => {
    const wrapper = document.getElementById("dawdle-editor")!;
    if (!wrapper) return;

    // create iframe
    const iframe = document.createElement("iframe");
    iframe.src = `/user/edit/embed#${location.hash.slice(1)}`;
    document.getElementById("dawdle-editor")!.replaceChildren(iframe);

    // if iframe goes back, go back
    window.removeEventListener("message", goBack);
    window.addEventListener("message", goBack);
  });
</script> -->

<style>
  main {
    flex: 1;
    display: flex;
    /* ::global(iframe) {
      flex: 1;
      border: none;
    } */
  }
</style>
