html {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #939b9a #080f14;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100vh;
  height: 100dvh;
  box-sizing: border-box;
  display: flex;
}

* {
  font-family: "Victor Mono Variable", monospace;
}

#backgroundcontainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #050a0e;
  background-image: url("/bg.jpg");
  background-blend-mode: color-dodge;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  opacity: 0.8;
  text-decoration: underline;
  text-decoration-style: dotted;
  color: #8be2ff;
  transition: color 0.1s ease-in-out;
}

* {
  box-sizing: border-box;
}

input,
textarea {
  resize: none;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  background-color: #ffffff1b;
  padding: 0.4rem 0.6rem;
  color: #fff;
}

input[type="submit"] {
  margin-top: 1rem;
  display: inline-flex;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  cursor: pointer;
  width: fit-content;
}
