---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Wiki">
  <main>
    <h1>Wiki</h1>
    <p>Welcome to the dawdle.space wiki!</p>

    <h2>Getting Started</h2>
    <ul>
      <li>
        <a href="/wiki/creating-websites">Creating websites</a>
      </li>
      <li>
        <a href="/wiki/linux">Linux basics</a>
      </li>
      <li>
        <a href="/wiki/ssh">Using SSH</a>
      </li>
    </ul>

    <h3>
      <br />
      <a href="/wiki/pages">All wiki entries</a>
    </h3>

    <style>
      h2 {
        margin-top: 2rem;
      }

      main {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        margin: 0 auto;
        max-width: 40rem;
        width: 100%;
      }
    </style>
  </main>
</Layout>
