---
import "@fontsource-variable/victor-mono";
import { ViewTransitions } from "astro:transitions";
import "./../global.css";
import { Head } from "astro-capo";

interface Props {
  title: string;
  maxWidth?: string;
}

const { title, maxWidth } = Astro.props;
---

<html lang="en" transition:animate="none">
  <Head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="data:," />
    <title>{title}</title>
    <slot name="head" />
  </Head>
  <body>
    <slot />
    <style define:vars={{ maxWidth }}>
      :global(body) {
        --max-width: var(--maxWidth);
      }
    </style>
    <script
      defer
      data-domain="dawdle.space"
      is:inline
      src="https://a.explodingcamera.com/js/script.js"></script>
  </body>
</html>
