---
import "@fontsource-variable/victor-mono";
import { ViewTransitions } from "astro:transitions";
import "./../global.css";
import { Head } from "astro-capo";

interface Props {
  title: string;
  maxWidth?: string;
}

const { title, maxWidth } = Astro.props;
---

<html lang="en">
  <Head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </Head>
  <body>
    <slot />
    <style define:vars={{ maxWidth }}>
      :global(body) {
        --max-width: var(--maxWidth);
      }
    </style>
  </body>
</html>
