---
import { ViewTransitions } from "astro:transitions";
import "@fontsource-variable/victor-mono";
import { Head } from "astro-capo";
import "./../global.css";

interface Props {
	title: string;
	maxWidth?: string;
}

const { title, maxWidth } = Astro.props;
---

<html lang="en" transition:animate="none">
  <Head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="data:," />
    <title>{title}</title>
    <slot name="head" />
  </Head>
  <body>
    <slot />
    <style define:vars={{ maxWidth }}>
      :global(body) {
        --max-width: var(--maxWidth);
      }
    </style>
    <script
      defer
      is:inline
      src="https://a.explodingcamera.com/script.js"
      data-website-id="a3618466-f058-417a-86f7-087f576d442c"></script>
  </body>
</html>
