---
import { Username } from "../components/auth";
import Layout from "./Layout.astro";
import { SettingsHeader } from "../components/Settings";

interface Props {
	title: string;
}
const { title } = Astro.props;
const url = new URL(Astro.request.url);
---

<Layout title={title}>
  <SettingsHeader  client:load />
  <ul>
    <li data-active={url.pathname === "/user"}>
      <a href="/user">Your Files</a>
    </li>
    <li data-active={url.pathname === "/user/settings"}>
      <a href="/user/settings">Settings</a>
    </li>
    <li class="signout">
      <a href="/user/logout">Sign Out</a>
    </li>
  </ul>
  <slot />
</Layout>

<script>
  import { getUser } from "../utils/auth";
  const username = getUser();

  const setUsername = () => {
    if (!username) {
      location.href = "/login";
      return;
    }

    document
      .querySelectorAll("#settings [data-username]")
      .forEach((el) => (el.textContent = username));

    (
      document.querySelectorAll(
        "#settings [data-user-page]"
      ) as NodeListOf<HTMLAnchorElement>
    ).forEach((el) => (el.href = `https://${username}.dawdle.space`));
  };

  document.addEventListener("astro:after-swap", () => setUsername());
  setUsername();
</script>

<style>
  

  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: var(--border);
    border-top: var(--border);

    li[data-active] {
      background: var(--border-color);
      a {
        color: #141f28;
        font-weight: 800;
      }
    }

    li {
      padding: 0.5rem 0;
      border-right: var(--border);
      font-size: 0.8rem;

      a {
        color: var(--text-dark);
        text-decoration: none;
        padding: 0 1.5rem;
      }
    }

    li.signout {
      margin-left: auto;
      border: none;
      a {
        padding: 0 0.7rem;
      }
    }
  }
</style>
