.error {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.settings {
  padding: 2.5rem;
  padding-bottom: 2rem;
  padding-top: 1rem;

  h2 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    background-color: #4848481d;
    padding: 0.7rem;

    li {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: row;
      gap: 1rem;

      &:last-of-type {
        margin-bottom: 0;
      }

      > div {
        flex: 1;
        display: flex;
        flex-direction: column;
        > span {
          font-size: 1rem;
        }

        code {
          max-width: 30rem;
          text-align: justify;
          word-break: break-all;
          color: #898888;
        }
      }

      button {
        background: none;
        border: none;
        cursor: pointer;
      }
    }
  }

  form.keys {
    margin-top: 2rem;
    p {
      margin-bottom: 1rem;
    }

    display: flex;
    flex-direction: column;
  }

  form.pw {
    margin-top: 1rem;
    p {
      margin-bottom: 1rem;
    }

    display: flex;
    flex-direction: column;

    > div {
      display: flex;
      align-items: baseline;
      gap: 1rem;
    }
  }
}
